/*カテゴリーページ_カテゴリーリスト*/
#categoryPage_contentWrapper{
  width:990px;
  margin:0 auto;
}

#categoryArticleList_wrapper{
  padding-top:40px;
  padding-bottom:80px;
}

#categoryTitle_wrapper{
  margin-bottom:16px;
}

#categoryTitle_secondColumn{
  margin-top:4px;
}

.categoryTitle{
  background-color:black;
  color:#fff;
  font-size:33px;
  font-weight:500;
  padding:4px;
  letter-spacing:-1px;
}

/*ページャー*/
.pageNavi_wrapper{
  margin-top:30px;
}

ul.page_navi{
  text-align:center;
}

ul.page_navi li{
  display:inline-block;
  position:relative;
  width:40px;
  height:40px;
  margin:0 4px;
}

ul.page_navi li a,ul.page_navi li span{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

li.current{
  background-color:#1a1a1a;
  color:#fff;
}

li.before,li.after:hover{
  background-color:#1a1a1a;
  color:#fff;
  transition-duration:0.3s;
  transition-timing-function:ease-in;
}

li.before,li.after{
  background-color:#f8f8f8;
  color:#1a1a1a;
}
