html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p,a,blockquote, pre, img, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section{
  margin:0;
  padding:0;
}

ul{
  list-style: none;
}

.clearfix{
  clear:both;
}

/*ここからトップページのヘッダー*/
#header_top{
  height:136px;
  text-align:center;
}

#header_top img{
  margin-top:28px;
  margin-right:30px;
}

#header_background{
  background-color:#e1180d;
  width:100%;
  height:288px;
}

#header_content{
  width:990px;
  margin:0 auto;
}

#global_nav{
  text-align:center;
}

#global_nav li{
  display:inline-block;
  margin-left:36px;
  padding:21px 0;
}

#global_nav li a{
  text-decoration:none;
  color:#fff;
  font-size:14px;
}

#header_image{
  width:560px;
  height:294px;
  object-fit:cover;
}

#pickup_heading{
  float:right;
  width:342px;
  height:294px;
  padding-right:48px;
  padding-left:40px;
  background-color:#fff;
}

.pickup_subtitle{
  margin-top:56px;
  color:#e1180d;
  font-size:14px;
  font-weight:bold;
}

.pickup_title{
  margin-top:11px;
  font-size:30px;
  line-height:1.23;
}

.pickup_status{
  margin-top:15px;
}

.pickup_status li{
  float:left;
  font-size:14px;
  color:#767676;
}

.pickup_publishdate{
  margin-left:12px;
}

/*トップページ新着記事*/
#home_latestArticle_wrapper{
  width:990px;
  margin:0 auto;
  padding-top:44px;
}

#home_latestArticleList_header{
  position:relative;
}

#home_latestArticleList_header p{
  position:absolute;
  top:5px;
  left:400px;
}

.home_latestArticleList{
  float:left;
  width:465px;
}

.home_latestArticleList:nth-child(2){
  margin-left:60px;
}

.home_latestArticleList_item{
  margin-top:24px;
}

.home_latestArticleList_item img{
  width:200px;
  height:104px;
}

.home_latestArticleList_statusWrapper{
  float:right;
  width:249px;
  padding-top:5px;
}

.home_latestArticleList_statusWrapper h3{
  font-size:16px;
}

.home_latestArticleList_statusWrapper p{
  font-size:12px;
  color:#767676;
  margin-top:8px;
}

#home_latestArticleList_featureBanner{
  margin-top:20px;
}

#home_latestArticleList_featureBanner img{
  width:465px;
}

/*トップページ連載記事*/
#home_seriesArticle_header,#home_seriesArticleContent_wrapper{
  width:990px;
  margin:0 auto;
}

#home_seriesArticle_header{
  position:relative;
}

#home_seriesArticle_header p{
  position:absolute;
  top:5px;
  right:15px;
}

#home_seriesArticle_background{
  background-color:#3B33B8;
  width:100%;
  height:240px;
}

#home_seriesArticleContent_wrapper img{
  float:left;
}

#home_seriesArticleList .verticalArticleCard{
  float:left;
  margin-left:12px;
}

/*トップページカテゴリー*/
/*全体*/
#home_category_wrapper{
  width:990px;
  margin:0 auto;
}

/*カテゴリー別*/
.home_categoryBlock{
  padding:40px 0;
}

.home_categoryBlock_title{
  float:left;
}
/*カテゴリー別メイン記事*/
.home_categoryBlock_mainArticle{
  width:436px;
  margin-left:36px;
  float:left;
}

.home_categoryBlock_mainArticle_imageWrapper img{
  width:436px;
  height:230px;
}

.home_categoryBlock_mainArticle_statusWrapper h2{
  font-size:20px;
  margin-top:8px;
}

.home_categoryBlock_mainArticle_subtitle{
  font-size:14px;
  font-weight:700;
  color:#e1180d;
  margin-top:16px;
}

/*カテゴリー別記事リスト*/
.home_categoryBlock_articleList{
  width:398px;
  float:left;
  margin-left:24px;
}

.home_categoryBlock_articleList .home_categoryBlock_articleListItem:nth-of-type(n+2){
  padding-top:24px;
}

.home_categoryBlock_articleListItem_imageWrapper{
  float:left;
  width:182px;
  height:96px;
}

.home_categoryBlock_articleListItem_imageWrapper img{
  width:182px;
  height:96px;
}

.home_categoryBlock_articleListItem_statusWrapper{
  float:left;
  width:200px;
  margin-left:16px;
}

.home_categoryBlock_articleListItem_statusWrapper h3{
  font-size:14px;
  line-height:1.33;
}

/*トップページカテゴリーブロック内共通*/
.home_categoryBlock_publishdate{
  font-size:14px;
  color:#767676;
  margin:0;
}

/*共通*/
.to_list{
  font-size:14px;
  font-weight:700;
}

.articleList_title{
  font-size:20px;
}

/*縦記事（小）*/
.verticalArticleCard{
  width:162px;
}

.verticalArticleCard_imageWrapper{
  position:relative;
  height:86px;
  border-radius:4px 4px 0 0;
}

.verticalArticleCard_imageWrapper img{
  width:162px;
  height:86px;
}

.number_icon{
  position:absolute;
  left:0;
  bottom:0;
  background-color:#1a1a1a;
  color:#fff;
  font-size:12px;
  font-weight:700;
  padding:2px 6px;
}

.verticalArticleCard_statusWrapper{
  padding:12px;
  background-color:#fff;
  border-radius:0 0 4px 4px;
}

.verticalArticleCard_title{
  font-size:12px;
}

.verticalArticleCard_publishdate{
  font-size:12px;
  color:#767676;
  margin-top:8px;
}
